<% include ./partials/header.ejs %>

    <div class="w-full min-h-screen bg-zinc-100 text-white px-10 py-8">
        <div class="py-8  max-w-md min-h-screen bg-zinc-100 text-black mx-auto">
            <h1 class="py-2 font-extrabold text-[26px]">Edit profile</h1>
            <p class="py-2 bg-zinc-100 text-base">Keep your personal details private. Information you add here is
                visible to anyone who can view your profile.</p>
            <h6 class=" text-xs mt-5">Photo</h6>
            <div class="flex flex-wrap rounded-[40px] bg-zinc-200 px-3 py-2">
                <form id="uploadform" hidden action="/fileupload" method="post" enctype="multipart/form-data">
                    <input type="file" name="image">
                </form>
                <div class="py w-20 h-20 bg-zinc-200 flex items-center rounded-full overflow-hidden">
                    <img class="w-full h-full object-cover" src="/images/uploads/<%=user.profileImage%>" alt="">
                </div>
                <h3 class="self-center ml-4 font-bold text-zinc-800">
                    <%= user.username %>
                </h3>
                <button id="imgchangebtn"
                    class="bg-zinc-300 text-sm self-center px-3 py-2 rounded-full ml-auto font-bold text-zinc-700">change</button>
            </div>

        <div class="py-6">
            <form action="/edit/rename" method="post">
                <div class="flex flex-wrap ">
                    <div>
                        <label class="block text-sm " for="newName">New name:</label>
                        <input
                            class="block bg-zinc-200 py-2 px-4 border-2 text-zinc-400 border-zinc-500 rounded-[10px]  mt-1"
                            type="text" id="newName" name="newName" value="<%= user.username %>">
                    </div>
                    <!-- <div class="ml-5">
                                <label class="block text-bage font-semibold" for="newName">New Name:</label>
                                <input class="block py-1 px-3 border-2 border-sky-400 rounded-md  mt-1" type="text"
                                    id="newName" name="newName" value="<%= user.username %>">
                            </div> -->
                </div>
        </div>
        <div>
            <h3>About</h3>
            <textarea
                class="px-2 py-1 bg-zinc-200 rounded-lg max-w-full max-h-24 resize-none border-zinc-500 border-2  "
                rows="10" cols="60" placeholder="Tell your story"></textarea>
        </div>
        <button id="savebtn" class="text-white text-sm bg-red-600 rounded-full px-4 py-2 block  mt-2"
            type="submit">Save</button>
        <!-- The popup msg code begin -->
        <!-- <div id="popup" class="popup-message fixed bottom-0 left-1/2 translate-x-[-50%] bg-zinc-200 text-white px-2 py-1 rounded-lg opacity-0 transition opacity ease-out delay-500 show">Profile Saved</div> -->
        <div id="popup"
            class="fixed bottom-0 left-1/2 transform -translate-x-1/2 bg-gray-800 text-white px-4 py-2 rounded-md opacity-0 transition-all duration-500">
            Profile Saved
        </div>
        </form>
    </div>
    </div>
    </div>
    </div>
    <script>
        document.querySelector("#imgchangebtn").addEventListener("click", function () {
            document.querySelector("#uploadform input").click();
        })
        document.querySelector("#uploadform input").addEventListener("change", function () {
            document.querySelector("#uploadform").submit();
        })

        // for popup msg
        // Show popup message
        // Call the function to show the popup message
        document.querySelector("#savebtn").addEventListener("click", showPopup)
        // Show popup message
        function showPopup() {
            var popup = document.getElementById("popup");
            popup.classList.add("bottom-20", "opacity-100");
            setTimeout(function () {
                popup.classList.remove("opacity-100");
                popup.classList.remove("bottom-20");
            }, 1000); // Adjust the time here (in milliseconds) to control how long the popup stays visible
        }
    </script>
    <% include ./partials/footer.ejs %>