<% include ./partials/header.ejs %>

<div class="w-full min-h-screen bg-zinc-800 text-white px-10 py-8">
    <div class="cards flex flex-wrap gap-10">
        <% posts.forEach(element=> { %>
            <div class="card w-32">
                <div class="w-full h-40 rounded-lg overflow-hidden bg-zinc-200">
                    <img class="w-full h-full object-cover" src="/images/uploads/<%=element.image %> " alt="">
                </div>
                <h5 class="text-sm mt-2 ">
                    <%=element.title %>
                </h5>
                <h6 class="text-xs opacity-40  ">@<%= element.user.username %></h6>
            </div>
            <% }) %>
    </div>
</div>

<% include ./partials/footer.ejs %>